@model Applciation.Common.ViewModel.GameViewModel

<div class="game">
    <input type="hidden" class="game__game-id-input" value="@Model.Id" />

    <div class="game-panel ">
        <div class="game-panel__menu disabled">
            <button class="game-panel__start-game-button btn d-none" aria-label="start game">Start</button>
            <p class="game-panel__game-status">Wait for an opponent to join your game</p>

            <p>Your character:</p>
            <img class="game-panel__your-character-img" loading="lazy" src="/images/square.webp" alt="your character" />
            <p class="game-panel__your-character-name">Name</p>

            <p class="game-panel__round-time">2:00</p>
            <button class="btn game-panel__finish-turn-button" aria-label="finish turn">Finish turn</button>

            <select class="game-panel__character-type" name="character-type" id="character-type" data-characternames="@Model.CharactersNames.ToString()">
                <option disabled selected>Guess opponent character</option>

                @foreach (var characterName in Model.CharactersNames)
                {
                    <option class="character-type__option" value="@characterName" id="character-type_@characterName">@characterName</option>
                }
            </select>
            <button class="game-panel__check-character-type-button btn" aria-label="guess">Guess <i class="question-mark-icon fas fa-question"></i></button>
        </div>
    </div>

    <div class="game-board disabled">
        <div class="charackters">

            @foreach (var characterName in Model.CharactersNames)
            {
                string characterPath = $"../images/characters/{characterName}.webp";

                <div class="character">
                    <button class="character-button" aria-label="@characterName"><img class="character-img" loading="lazy" src="@characterPath" alt="@characterName" /></button>
                    <p class="character-name">@characterName</p>
                </div>}

        </div>

    </div>

    <div class="chat-communicator">
        <button class="chat-communicator__hide-communicator-button" aria-label="hide chat"><i class="fas fa-minus"></i></button>

        <div class="chat-communicator__messages">

        </div>

        <div class="send-messages">
            <input class="send-messages__send-message-input" />
            <button class="send-messages__send-message-button" aria-label="send message"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>

    <button class="show-chat-communicator-button d-none" aria-label="show chat"><i class="fas fa-comment"></i></button>
    <button class="mute-or-unmute-sounds-button" aria-label="mute or unmute sounds"><i class="mute-or-unmute-sounds-icon fas fa-volume-up"></i></button>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js" defer></script>
<script type="module" src="~/js/game.js" defer></script>
<script type="module" src="~/js/gameHub.js" defer></script>
