@model Domain.ViewModels.GameViewModel

<div class="game">

    <input type="hidden" class="game__game-id-input" value="@Model.Id" />

    <div class="game-panel ">
        <div class="disabled">
            <button class="game-panel__start-game-button btn btn-danger d-none">Start</button>
            <p class="game-panel__game-status">Wait for opponent<span> . . .</span></p>

            <p>Your character:</p>
            <img class="game-panel__your-character-img" src="/images/square.jpg" />
            <p class="game-panel__your-character-name">Name</p>

            <p class="game-panel__round-time">1:00</p>
            <button class="btn btn-primary game-panel__finish-turn-button">Finish turn</button>

            <select class="game-panel__character-type" name="character-type" id="character-type">
                <option disabled selected>Guess opponent character</option>

                @foreach (var characterName in Model.CharactersNames)
                {
                    <option value="@characterName">@characterName</option>
                }
            </select>
            <button class="game-panel__check-character-type-button btn btn-danger">Guess <i class="question-mark-icon fas fa-question"></i></button>
        </div>
    </div>

    <div class="game-board disabled">
        <div class="charackters">

            @foreach (var characterName in Model.CharactersNames)
            {
                string characterPath = $"../images/characters/{characterName}.jpg";

                <div class="character">
                    <button class="character-button"><img class="character-img" src="@characterPath" alt="@characterName" /></button>
                    <p class="character-name">@characterName</p>
                </div>
            }

        </div>

    </div>

    <div class="chat-communicator">
        <button class="chat-communicator__hide-communicator-button"><i class="fas fa-minus"></i></button>

        <div class="chat-communicator__messages">

        </div>

        <div class="send-messages">
            <input class="send-messages__send-message-input" />
            <button class="send-messages__send-message-button"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>

    <button class="show-chat-communicator-button d-none"><i class="fas fa-comment"></i></button>
    <button class="mute-or-unmute-sounds-button"><i class="mute-or-unmute-sounds-icon fas fa-volume-up"></i></button>
</div>

<script type="module" src="~/js/game.js"></script>
<script type="module" src="~/js/gameHub.js"></script>


